* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_container {
  position: relative;
  min-height: 100vh;
}

.content_wrap {
  padding-bottom: 364px;
}

/*HOME PAGE ONLY*/
.title_page {
  background-color: #2a2a2a;
}

/*Header*/
/*Title Bar*/
header {
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.title_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}

h1 {
  color: white;
  font: 9rem "Goldman", Inconsolata, monospace;
}

.logo-phone {
  width: 25em;
  height: 25em;
}

.large {
  display: none;
}

/*Navigation*/
nav {
  width: 65%;
  margin-top: 20px;
  margin-left: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
}

nav ul a {
  text-decoration: none;
  color: lightgray;
  font-size: 5em;
  margin-right: 70px;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Main Section*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Home Page*/
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.screenshot {
  height: 60em;
  width: 60em;
  align-self: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.profile {
  width: 75%;
  margin: 30px;
  border: 10px solid white;
}

/*Blog*/
.blog {
  flex-direction: row;
}

.blog h2 {
  font-size: 5em;
}

.blog p {
  font-size: 3.4em;
}

.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 10px;
}

/*General*/
article {
  background-color: #f6eee0;
  margin: 30px;
  border: 20px ridge gray;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

h2 {
  font: 5em "Goldman", Inconsolata, monospace;
  margin: 20px;
  text-align: left;
}

main p {
  width: 75%;
  font-size: 3em;
  margin-bottom: 50px;
}

article p {
  width: 95%;
  font-size: 3em;
  margin: 15px;
}

article a {
  align-self: center;
  background-color: #2a2a2a;
  color: lightgray;
  text-decoration: none;
  width: 50%;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
  border: 10px solid white;
}

main > ul {
  width: 75%;
  font-size: 5em;
}

address {
  width: 75%;
  font-size: 5em;
  font-style: normal;
  display: flex;
  justify-content: space-around;
}

address a > img {
  width: 400px;
  background-color: #2a2a2a;
  border: 20px ridge lightgray;
}

/*Footer*/
/*General*/

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: darkslategray;
}

/*Nav*/
footer nav ul {
  height: 100%;
  flex-direction: column;
  font-size: 0.8em;
  justify-content: space-around;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a img {
  width: 140px;
  margin: 15px;
}

.footer_link {
  display: flex;
  font-size: 3em;
  color: white;
}
